*{padding: 0;
margin:0}

.titulo {
    font-family: 'Arvo', serif;
    color: #ffe77b;
    font-size: 5rem;
    background-color: #c85b70;
    display: flex;
    justify-content: center;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
nav {
    background-color: #eba8b5;
    display: flex;
    justify-content: center;
   
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}
.navegador{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 7em;
}


a {
    text-decoration: none;
    color: #fafafa;
    font-size: 1.5rem;
   
}
a:hover{
    color: black;
}
/* ul {
    align-items: center;
} */
li {
    list-style-type: none;
    font-family: 'Righteous', cursive;
    display: inline;
}
.inicio {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    flex-wrap: wrap;

}
.imagenPrincipal{
    opacity: 0.8;
    border-radius: 20px;
    height: 20em;
    width: 18em;
    box-shadow: 17px 14px 15px 3px rgba(191,189,191,0.8);
    
    
}
.imagenPrincipal:hover{
    opacity: 1;
    scale: 1.05;
    transition-duration: 1s;
}
